
body {
    background-image: url("https://img.freepik.com/foto-gratis/desenfoque-lujo-abstracto-degradado-gris-oscuro-negro-utilizado-como-pared-estudio-fondo-exhibir-sus-productos_1258-52814.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form-container {
    background-color: #8e939e;
    
}

.control-label{
    text-align: right !important;
}

/* .btn-success{
    background-color: rgb(92, 135, 93) !important;
    border-color: rgb(92, 135, 93) !important;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-success:hover{
    background-color: rgb(75, 95, 75) !important;
    border-color: rgb(75, 95, 75) !important;
    transform: scale(1.1);
    cursor: pointer
} */
.btn-create{
    padding-inline: 1rem !important;
}

.btn-danger{
    background-color: rgb(177, 63, 84) !important;
    border-color: rgb(177, 63, 84)!important;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn-danger:hover{
    background-color: rgb(120, 49, 61) !important;
    border-color: rgb(120, 49, 61) !important;
    transform: scale(1.1);
    cursor: pointer
}

.btn-primary{
    background-color: rgb(76, 86, 162) !important;
    border-color: rgb(76, 86, 162) !important;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.btn-primary:hover{
    background-color: rgb(54, 62, 133) !important;
    border-color: rgb(54, 62, 133) !important;
    transform: scale(1.1);
    cursor: pointer
}

.rounded-table {
    border-radius: 15px;
    overflow: hidden;
}

.table {
    width: 70%;
}


.table thead th:nth-child(5) {
    width: 13%; 
}

.card-footer{
    background-color: #8e939e !important;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.invalid-feedback{
    color: rgb(188, 58, 82)  !important;
}